Source: cqldriver
Section: misc
Priority: optional
Maintainer: compiv <compiv@tutanota.com>
Build-Depends:
 cmake, g++-9, make, python3, patchelf,
 seastar
Homepage: https://github.com/cpv-project/cpv-cql-driver

Package: cqldriver
Architecture: amd64
Depends: seastar
Description: C++ database driver for cassandra and scylla

